.numeros {
    display: flex;
    justify-content: space-around;
}

.numeros__box {
    text-align: left;
    width: 15%;
}

.numeros__dados {
    color: var(--cor-secundaria);
    font-weight: 600;
    font-size: 3.75rem;
}

.numeros__titulo {
    color: var(--preto);
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1em 0;
}

.numeros__texto {
    color: var(--cor-primaria);
    line-height: 150%;
}