.vagas__primeira-dobra {
    text-align: center;
    margin-top: 10em;
}

.vagas__intro {
    font-size: 0.875rem;
    color: var(--cor-secundaria);
    font-weight: 500;
    background-color: var(--cor-secundaria-opaca);
    padding: 0.25em 0.75em;
    margin: 0 44.5%;
    border-radius: 1em;
}

.vagas__titulo {
    color: var(--preto);
    font-size: 2.25rem;
    font-weight: 600;
    padding: 1em;
}

.vagas__texto {
    font-weight: 400;
    color: var(--cor-primaria);
    font-size: 1.25rem;
}

.vagas__imagem {
    width: 80%;
    margin-top: 5em;
}

.vagas__segunda-dobra {
    width: 60%;
    margin: auto;
    
}

.vagas__box-titulo {
    color: var(--preto);
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1.5em;
    margin-top: 3em;
}

.vagas__card {
    border: solid 1px var(--cor-borda);
    padding: 1.5em 20em 1.5em 2em;
    border-radius: 16px;
    margin-top: 1em;
}

.vagas__card-titulo {
    margin-bottom: 2em;
    font-weight: 500;
    font-size: 1.125rem;
}

.vagas__card-descricao {
    display: flex;
}

.vagas__card-texto {
    margin-right: 2em;
    color: var(--cor-primaria);
    font-weight: 500;
}
